a:active,
a:hover {
  outline: 0 !important;
}

/* *:not(.fa){

} */

header {
  font-size: 15px ;
}
a {
  color: #989898 !important;
  text-decoration: none !important;
  background: transparent !important;
  letter-spacing: 4px !important;
}
a, .navbar-toggle,.dropdown-menu{
  -webkit-transition: all .3s ;
  -moz-transition: all .3s ;
  -ms-transition: all .3s ;
  -o-transition: all .3s ;
  transition: all .3s ;
}

a:hover,
a:focus {
  color: #c90d0d !important;
}
.logo{
  width:110px ;
}

.dropdown-menu {
  padding: 5px 0 ;
  margin: 13px 0 0!important;
  font-size: 14px !important;
  background-color: rgba(242, 207, 207, 0.70) !important;
  border-radius: 4px 4px 4px 4px !important;

  top: 200% ;
  left: 0 ;
  visibility: hidden ;
  float: left ;
  display: block !important;
  min-width: 160px ;
  padding: 5px 0 ;
  opacity: 0 ;
}
.dropdown-menu .dropdown-menu {
  margin: 0px 0 0 0px!important ;
  top: -3px ;
  left: 120% ;
  display: block !important;
  float: left ;
  z-index: 1000 ;
  margin: 5px 0 0 ;
  visibility: hidden ;
  opacity: 0 ;
}
.dropdown-menu > li {
  position: relative ;
}
.dropdown-menu > li > a {
  display: block ;
  padding: 3px 20px ;
  clear: both ;
  color: rgb(52, 52, 52) !important ;
  line-height: 1.42857143 ;
  white-space: nowrap ;
}
.dropdown-menu > li:hover{
  background-color: rgb(194, 194, 194) !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { /*hover y focus de los links del dropdown*/
  color: rgb(240, 240, 240) !important; /*BLANCO  COLOR LETRAS DENTRO DEL DROPDOWN HOVER*/
  text-decoration: none !important;
  outline: 0 !important;
  background-color: rgb(203, 201, 201) !important;
  background-image: -moz-linear-gradient(top, #cfcfcf, #a2a2a2) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#a2a2a2)) !important;
  background-image: -webkit-linear-gradient(top, #cfcfcf, #a2a2a2) !important;
  background-image: -o-linear-gradient(top, #cfcfcf, #a2a2a2) !important;
  background-image: linear-gradient(to bottom, #cfcfcf, #a2a2a2) !important;
  background-repeat: repeat-x !important;
}

.navbar {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  min-height: 68px !important;
  background-color: #fbfbfb !important; /*fondo de la barra de navegacion*/
}
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px ;
  margin-left: -15px ;
}

.container {
  width: 750px;
}
.container-fluid {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.dropdown:hover > .dropdown-menu {
  opacity: 1  ;
  top: 100%  ;
  visibility: visible  ;
}
.dropdown-menu .dropdown:hover > .dropdown-menu {
  opacity: 1;
  top: -6px;
  left: 100%;
  padding: 5px 0;
  visibility: visible;
}
.navbar {
  border-bottom:  3px solid rgb(213, 9, 9) ;
  line-height: 40px;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) ;
}
