input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=date]{
  padding-left: 40px;
  font-size: 13px!important;
}
input[type=date]:hover,input[type=submit]:focus,input[type=submit]:hover{
  color: rgb(209, 28, 28)!important;
  font-size: 14px!important;
}

input[type=submit]{
  background-color: transparent!important;
  color: rgb(110, 110, 110)!important;
  letter-spacing: 8px;
  cursor: pointer;
}
input:read-only{
  background-color: rgba(173, 173, 173, 0.1)!important;
}

input:read-only.bt{
  background-color: transparent!important;
}
/* input[type=submit]:focus,input[type=submit]:hover{
  color: rgb(209, 28, 28)!important;
  font-size: 14px;
} */

input[type=text].reg {
  height: 80px;
  -webkit-transition: height 1s ease-in-out!important;
  transition: height 1s ease-in-out!important;
  font-size: 30pt!important;
}
input[type=text].reg:focus {
  height: 140px;
  font-size: 45pt!important;
}

input.reg{
  background-color:transparent!important;
  letter-spacing:10px!important;
  text-align:center!important;
  color: rgb(75, 74, 74)!important;
}



input[type="text"]{
  color: #333;
  /* width: 100%; */
  box-sizing: border-box;
  padding: 0px 10px;
}
input:disabled{
  background: rgba(194, 189, 189, 0.2)!important;
}

/*Comienzan estilos para Detalle poliza*/

/* input[type=submit].btn-dpol:hover{
  font-size: 10px!important;
  letter-spacing: 12px!important;
} */

.eff{
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 30px;
  text-align: center!important;
}


.efecto{
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  text-align: center!important;
}

.efecto ~ label{
  position: absolute;
  left: 3px;
  width: 100%;
  top: 17px;
  font-size: 12px;
  /* color: #afacac;
  transition: 0.3s;
  z-index: 1;

  padding-top: 4px; */
}


.efecto ~ label.l22{
  position: absolute;
  left: 3px;
  width: 100%;
  top: 13px;
  font-size: 12px;
}
.efecto:focus ~ label, .tiene-contenido.efecto ~ label{
  /* top: -12px; */
  top: -9px;
  font-size: 14px;
  color: #d59f9f;
  /* color: #3b3b3b; */
  transition: 0.3s;
}

.pinklabel{
  color: #d59f9f;
}

/*LINKS COMO BOTONES*/

.boton{
  background-color: transparent!important;
  color: rgb(110, 110, 110)!important;
  letter-spacing: 1px!important;
  border: 1px solid #ccc;
  padding: 4px!important;
  border-radius: 10px;
  display: block;
  width: 100%;
  cursor: pointer;
}
.boton:hover,.boton:focus{
  color: rgb(217, 0, 0)!important;
  letter-spacing: 2px!important;
}
