

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset!important;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset!important;
}



/*=== Anchor Link ===*/
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: rgb(232, 26, 26);
  font-size: 1.02em;
  text-decoration: none;
}

/*=== Main Form ===*/
.login-form-1 {
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group{
  margin-top: 40px;
  border-bottom: 2px solid #eeeeee;
  position: relative;
}
.login-form-1 .form-group{
  border-bottom: 0;
}


input[type="text"],input[type="password"]{
	margin: 1em 0 0;
  width: 93%;
  display: block;
  border: none;
  padding: 1em;
  border-bottom: solid 1px #fff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  color: rgb(232, 26, 26);
  letter-spacing: 4px;
}
input[type="text"]:focus,input[type="password"]:focus{
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

.login-group {
  width: 400px;
  height: 250px;
  background: rgba(204, 197, 197, 0.43);
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group:hover {
  background: rgba(204, 197, 197, 0.43);
  color: rgb(232, 26, 26);
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 8px 0;
  width: 60px;
  height: 60px;
  margin-top: -25px;
  border: 3px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {

  transform: rotate(450deg);
}

.login-form-1 .login-button.clicked:hover {
  transform: none;
}
