.modal-ch{
  max-width: 500px!important;
  margin-top: 100px!important;
}
.modal-med{
  max-width: 800px!important;
  margin-top: 100px!important;
}
.modal-lg{
  max-width: 1000px!important;
  padding-top:100px;
}
.modal-xl{
  max-width: 1200px!important;
}
.modal-content{
  border-radius:10px!important;
}
.modal-body{
  font-size: 13px;
}
.modal-header{
  background-color:#ccc;
  color: white;
  padding: 7px!important;
}
.modal-tittle{
  letter-spacing:10px;
  font-size:14px;
}
.modalFooter{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

#submenuModal{
  background-color: transparent!important;
  color: rgb(161, 160, 160)!important;

}
#submenuModal:hover, #submenuModal:focus{
  color: rgb(209, 28, 28)!important;
  cursor: pointer;
  font-size: 14px;
}

.centrar{
  padding-top: 10px!important;
}

.titulograndetop-modal {
  letter-spacing: 20px;
  font-size: -webkit-xxx-large!important;
  color: rgba(161, 28, 0, 0.16);
  margin: 0px 120px!important;
  background-color: rgba(194, 189, 189, 0.2);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 1px solid rgb(209, 28, 28);
}

.intermedio-modal {
    background-color: transparent;
    margin: 0px 120px!important;
    border: 2px solid #ccc;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
