.h35{
  height: 35px;
}
.h30 {
  height: 30px;
}
.h25{
  height: 25px;
}
.h22{
  height: 22px;
}
.h20{
  height: 20px;
}
.h18{
  height: 18px;
}
.ls0{
  letter-spacing: 0px!important;
}
.ls1{
  letter-spacing: 1px!important;
}

.ls2{
  letter-spacing: 2px!important;
}
.ls3{
  letter-spacing: 3px!important;
}
.font12{
  font-size: 12px!important;
}
.font14{
  font-size: 14px!important;
}
.font16{
  font-size: 16px!important;
}
.font18{
  font-size: 18px!important;
}
.imp{
  color : rgb(144, 144, 144);
}
.sub{
  /* letter-spacing: 7px!important; */
  /* font-size: 12px!important; */
  background-color: rgba(138,138,138,0.3)!important;
  /* background-color: rgba(138,138,138,0.54)!important; */
  /* font-weight: normal!important; */
  /* font-weight: bold; */
  /* color: white!important; */
  color: black;
}
/* .infsub{
  font-size: 12px!important;
  background-color: rgba(138,138,138,0.54)!important;
  font-weight: normal!important;
  color: white;
} */
.sub2{
  /* letter-spacing: 3px!important; */
  /* font-size: 10px!important; */
  background-color:rgba(173, 173, 173, 0.1)!important;
  /* font-weight: normal!important; */
  color:rgb(87, 87, 87)!important;
}

.fw-normal{
  font-weight: normal!important;
}
.fw-bold{
  font-weight: bold!important;
}

.sub3{
  background-color: rgba(138,138,138,0.2)!important;
}

.b{
  color: rgb(89, 89, 89);
}
select{
  font-size: 10pt!important;
  text-align-last:center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 10px!important;
}
.form1{
  letter-spacing:3px;
  line-height:0.8
}


.titulo{
  padding-bottom: 8px;
  margin-top: -20px;
  margin-left: 20px;
  background-color: white;
  width: 160px;
  text-align: center;
}
.w2{
  width:300px;
}


.borderojo{
  border-bottom:1px solid rgba(190, 91, 106, 0.33);
}

.pills{
  background-color: transparent!important;
  color: rgb(161, 160, 160)!important;
  letter-spacing: 6px!important;
  font-size: 14px;
}
.pills:hover, .pills:focus{
  color: rgb(209, 28, 28)!important;
  cursor: pointer;
}


/*CONTENEDOR MOVIBLE -- CONTENEDOR MOVIBLE*/
.containermov {
  overflow: hidden;
}
.containermov .contenedor-movible {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.containermov div {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.contorno-mov{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 20px 5px 20px!important;
}

/*SOLO PARA DETALLE DE POLIZA --  SOLO PARA DETALLE DE POLIZA*/
.xs{
  min-width: 2.32%;
  max-width: 2.32%;
}

.xxs{
  min-width: 1.5%;
  max-width: 1.5%;
}
.ssm{
  max-width: 4%;
  min-width: 4%;
}
.small{
  max-width: 5.9%;
  min-width: 5.9%;
  font-size: 12px!important;
}

.sm{
  min-width: 8.86%;
  max-width: 8.86%;
}
.med{
  min-width: 24.45%;
  max-width:  24.45%;
}

.gde{
  min-width: 42%;
  max-width:  42%;
}
.backpink{
  /* font-size: 12px!important; */
  background-color: rgba(246, 92, 92, 0.04)!important;
  /* background-color: rgba(246, 92, 92, 0.09)!important; */
  /* font-weight: normal!important; */
  color: rgb(87, 87, 87)!important;
}


/* OPCIONES SELECT -- OPCIONES SELECT*/

.cfdcbb, .cfdi, .cheque, .compext,.otro,.transferencia{
  display: none;
}

.popup-list{
  width: -webkit-fill-available;
  border-radius: 8px;
  border: 1.5px solid #838383;
  background-color: white;
  padding: 10px;
  z-index: 9999;
  right: 0px;
  margin-top: 10px;
  position: absolute;
  max-height: 400px;
  overflow: hidden;
}

.popup-list p{
  padding: 10px;
  margin-bottom: 0px;
  color : #656565;

}

.popup-list p.hovered{
  background-color: rgba(0, 0, 0, 0.37);
  cursor: pointer;
  color: white;
}

.popup-list p:not(:last-child){
  border-bottom: 1px solid #656565;
}

.popup-list p:last-child{
  margin-bottom: 0px;
}
/* FINALIZA popup-list */


.fixed-table tbody{
  display: block;
  max-height: 380px;
  overflow-y: auto;
}

.linkbtn{
  background-color: transparent!important;
  color: rgb(110, 110, 110)!important;
  letter-spacing: 8px!important;
}
.linkbtn:hover, .linkbtn:focus {
  color: rgb(209, 28, 28)!important;
  font-size: 12px;
  cursor: pointer;
}

.pantallaGris{
	background-color: white;
  height: calc(100vh - 200px)!important;
}

.tituloSinRegistros{
	text-align: center;
	margin-top: 260px;
	letter-spacing: 8px;
  color: red;
  font-size: 20px
}

.footer{
  border-top: 3px solid rgb(213, 213, 213);
  box-shadow: 0 -4px 8px -5px #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: left;

}

.mb-10{
  margin-bottom: 8rem!important;
}

/* rectangulo para firma de cheque */
.dimdiv{
  height: 50px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button img{
  width:20px;
  padding-top:4px;
}
button img:hover{
  width:21px;
}
a img{
  width:20px;
}

.mb-100{
  margin-bottom: 20rem!important;
}

.bt{
  background-color: transparent!important;
}

.inputId{
  color: #989898!important;
  border: none;
  letter-spacing: 2px;
}

.inputId-red{
  color: #FF0000!important;
  border: none;
  letter-spacing: 2px;
}

.red{
  color: #FF0000!important;
  letter-spacing: 2px;
}

.subrojo{
  color: rgb(209, 28, 28);
  font-size: 14px;
}

.custom-select-mod {
  display: inline-block;
  width: 100%;
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.custom-select-s {
  display: inline-block;
  width: 100%;
  /* padding: .375rem 1.75rem .375rem .75rem; */
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.divisor{
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
}




.encabezado{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(209, 28, 28);
  background-color:#fbfbfb !important;
  padding: .1rem!important;
  text-align: center;
}
.colorRosa{
  color: rgba(161, 28, 0, 0.36);
  font-size: 14px!important;
}
.titulograndetop {
  letter-spacing: 20px;
  font-size:-webkit-xxx-large!important;
  color: rgba(161, 28, 0, 0.16);
  background-color: rgba(194, 189, 189, 0.2);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 1px solid  rgb(209, 28, 28);
}
.intermedio {
  background-color:transparent;
  border: 2px solid #ccc;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.mt10{
  margin-top:10%!important;
}
.black {
  color: rgb(75, 74, 74);
  letter-spacing: 8px;
}
a img.icomediano {
  width:23px;
}
a img.icomediano:hover {
  width:25px;
}
a img.icochico {
  width:18px;
}
a img.icochico:hover {
  width:20px;
}

a img.icoxs {
  width:14px;
}
a img.icoxs:hover {
  width:16px;
}
#submenuMed {
  background-color: transparent!important;
  color: rgb(161, 160, 160)!important;
  letter-spacing: 6px!important;
  font-size: large;
}
#submenuMed:hover, #submenuMed:focus {
  color: rgb(209, 28, 28)!important;
  cursor: pointer;
  font-size: 20px;
}
#submenuMed:visited {
  color: black!important;
}


.submenuMed {
  background-color: rgba(254, 113, 113, 0.04);
  height: 50px;
}
div.submenuMed {
  padding:10px;
}
.contorno {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px 30px 10px 30px!important;
  margin: 20px!important;
}

/*Acordeon para Editar*/
.acordeon2 {
  flex-direction: column;
  background-color: #fff;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}
.transEff {
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-property: all;
  -webkit-transition-property: all;
}


.contenedor {
  margin-top:150px!important;
  border-radius: 20px;
}

:focus{
  outline: none;
}


/* MAYUSCULAS  */
.firstMayus{
  text-transform: capitalize!important;
}

.allMayus{
  text-transform: uppercase!important;
}

.grisdisabled{
  color: #fff;
  background-color: rgb(184, 184, 184)!important;
  border-color: rgb(184, 184, 184)!important;
}

a.active{
  color: black!important;
  font-weight: bold;
}
