.h35{
  height: 35px;
}
.h30 {
  height: 30px;
}
.h22{
  height: 22px;
}
.ls0{
  letter-spacing: 0px!important;
}
.ls1{
  letter-spacing: 1px!important;
}
.font12{
  font-size: 12px!important;
}
.font14{
  font-size: 14px!important;
}
.font16{
  font-size: 16px!important;
}
.font18{
  font-size: 18px!important;
}
.imp{
  color : rgb(144, 144, 144);
}
.sub{
  letter-spacing: 7px!important;
  font-size: 12px!important;
  background-color: rgba(138,138,138,0.54)!important;
  font-weight: normal!important;
  color: white!important;
}
.infsub{
  /* letter-spacing: 7px!important; */
  font-size: 12px!important;
  background-color: rgba(138,138,138,0.54)!important;
  font-weight: normal!important;
  color: white;
}
.sub2{
  letter-spacing: 3px!important;
  font-size: 10px!important;
  background-color:rgba(173, 173, 173, 0.1)!important;
  font-weight: normal!important;
  color:rgb(87, 87, 87)!important;
}

.b{
  color: rgb(89, 89, 89);
}
select{
  font-size: 10pt!important;
  text-align-last:center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 10px!important;
}
.form1{
  letter-spacing:3px;
  line-height:0.8
}

.centrar{
height: 30px;
}

.titulo{
  padding-bottom: 8px;
  margin-top: -20px;
  margin-left: 20px;
  background-color: white;
  width: 160px;
  text-align: center;
}
.titulo2{
  padding-bottom: 20px;
  margin-top: -20px;
  margin-left: 20px;
  background-color: white;
  width:300px;
  text-align: center;
}


.borderojo{
  border-bottom:1px solid rgba(190, 91, 106, 0.33);
}

.pills{
  background-color: transparent!important;
  color: rgb(161, 160, 160)!important;
  letter-spacing: 6px!important;
  font-size: 14px;
}
.pills:hover, .pills:focus{
  color: rgb(209, 28, 28)!important;
  cursor: pointer;
}


/*CONTENEDOR MOVIBLE -- CONTENEDOR MOVIBLE*/
.containermov {
  overflow: hidden;
}
.containermov .contenedor-movible {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.containermov div {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.contorno-mov{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 20px 5px 20px!important;
}

/*SOLO PARA DETALLE DE POLIZA --  SOLO PARA DETALLE DE POLIZA*/
.xs{
  min-width: 2.32%;
  max-width: 2.32%;
}

.xxs{
  min-width: 1.5%;
  max-width: 1.5%;
}
.ssm{
  max-width: 4%;
  min-width: 4%;
  /* font-size: 12px!important; */
}
.small{
  max-width: 5.9%;
  min-width: 5.9%;
  font-size: 12px!important;
}

.sm{
  min-width: 8.86%;
  max-width: 8.86%;
}
.med{
  min-width: 24.45%;
  max-width:  24.45%;
}

.gde{
  min-width: 42%;
  max-width:  42%;
}
.backpink{
  font-size: 12px!important;
  background-color: rgba(246, 92, 92, 0.09)!important;
  font-weight: normal!important;
  color: rgb(87, 87, 87)!important;
}


/* OPCIONES SELECT -- OPCIONES SELECT*/

.cfdcbb, .cfdi, .cheque, .compext,.otro,.transferencia{
  display: none;
}


/* popup-list */
.popup-list{
  width: -webkit-fill-available;
  border-radius: 8px;
  border: 1.5px solid #838383;
  background-color: white;
  padding: 10px;
  z-index: 9999;

  /* nuevos */
  right: 0px;
  margin-top: 10px;
  position: absolute;
  max-height: 400px;
  overflow: hidden;
}

.popup-list p{
  padding: 10px;
  margin-bottom: 0px;
  color : #656565;

}

.popup-list p.hovered{
  background-color: rgba(0, 0, 0, 0.37);
  cursor: pointer;
  color: white;
}

/* .popup-list p.hovered{
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
} */

.popup-list p:not(:last-child){
  border-bottom: 1px solid #656565;
}

.popup-list p:last-child{
  margin-bottom: 0px;
}
/* FINALIZA popup-list */


.fixed-table tbody{
  display: block;
  max-height: 380px;
  overflow-y: auto;
}

/* #backpinkico{
  cursor: pointer;
  font-size: 12px;
}
#backpinkico:hover, #backpinkico:focus {
  color: rgb(209, 28, 28)!important;
  letter-spacing: 3px!important;
  font-size: 13px;
} */


/* .popup-pad{
  padding-left: 0px!important;
  padding-right: 0px!important;
} */

.linkbtn{
  background-color: transparent!important;
  color: rgb(110, 110, 110)!important;
  letter-spacing: 8px!important;
}
.linkbtn:hover, .linkbtn:focus {
  color: rgb(209, 28, 28)!important;
  font-size: 12px;
  cursor: pointer;
}

.pantallaGris{
	background-color: rgb(240, 240, 240,0.25);
  /* margin-bottom: 0px */
	height: 800px;
}

.tituloSinRegistros{
	text-align: center;
	margin-top: 260px;
	letter-spacing: 8px;
	color: rgb(210, 210, 210);
	font-size: 50px
}

.footer{
  border-top: 3px solid rgb(213, 213, 213);
  box-shadow: 0 -4px 8px -5px #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: left;

}

.mb-10{
  margin-bottom: 8rem!important;
}
.dimdiv{
  height: 50px;
  /* width: 80px; */
  background-color: transparent;
  /* display: inline; */
  border: 1px solid #ccc;
  border-radius: 8px;
}



button img{
  width:20px;
  padding-top:4px;
}
button img:hover{
  width:21px;
}
a img{
  width:20px;
}

.mb-100{
  margin-bottom: 20rem!important;
}

.bt{
  background-color: transparent!important;
}
